body {
    margin: 0;
    padding: 0;
    font-family: Inter, Roboto, Verdana, Geneva, Tahoma, sans-serif;
}
header {
    background-color: #252525;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #0000001f;
}
nav ul {
    display: flex;
    list-style: none;
}
nav li {
    margin-left: 1em;
}
nav a {
    text-decoration: none;
    color: #fff;
}
nav a:hover {
    text-decoration: none;
    color: greenyellow;
    font-weight: bold;
}
.presentation {
    text-align: center;
    margin: 20px 10%;
}
.pages-cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
}
#about-card {
    text-align: center;
    padding: 1px 10px;
    border-width: 2px 2px;
    border-style: solid;
}
#job-card {
    text-align: center;
    padding: 1px 10px;
    border-width: 2px 2px;
    border-style: solid;
}
#hobbies-card {
    text-align: center;
    padding: 1px 10px;
    border-width: 2px 2px;
    border-style: solid;
}
#ai-card {
    text-align: center;
    padding: 1px 10px;
    border-width: 2px 2px;
    border-style: solid;
}
footer {
    background-color: #252525;
    color: #fff;
    padding: 1% 10%;
    text-align: center;
}
footer ul {
    list-style-type: none;
}
footer a {
    text-decoration: none;
}
.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon {
    width: 32px;
    margin: 0 16px;
}
.icon:hover {
    width: 35px;
}
