body {
  background-image: url("./content/images/wallpaper.gif");
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  border: none;
  border-top: 1px solid #00ff00;
  margin: 10px auto;
  width: 50%;
}

#non-clickable {
  cursor: default;
}

/* Menu de navegacion */

#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252525;
  height: 64px;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#menu.scrolled {
  background-color: #111;
  height: 30px;
  padding: 0 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#menu img {
  width: 64px;
  margin-right: 20px;
  transition: all 0.5s ease-in-out;
}

#menu.scrolled img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

#menu ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu li {
  margin: 0 20px;
}

#menu a {
  color: #00ff00;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

#menu li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #00ff00;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

#menu li a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

#menu li.cv a {
  background-color: #00ff00;
  color: #252525;
  padding: 8px 16px;
  font-weight: bold;
}

/* Seccion de presentacion */

.section-primary {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 125px 15%;
}

.section-primary h1 {
  font-size: 64px;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px #333;
  animation: zoomIn 1s forwards;
}

.section-primary h2 {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px #333;
  animation: zoomIn 1s forwards;
}

.section-primary div {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.section-primary div img {
  width: 64px;
  margin-right: 32px;
}

.image-div {
  display: flex;
  align-items: center;
}

#section-primary-image {
  float: right;
  margin-left: 64px;
  width: 408px;
  height: auto;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease;
}

#section-primary-image:hover {
  transform: scale(1.1);
}

.section-primary p {
  font-size: 24px;
  color: #fff;
  text-align: justify;
  text-shadow: 2px 2px #333;
  animation: zoomIn 1s forwards;
}

.section-secondary {
  background-color: #252525;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 50px 15%;
}

.section-secondary hr {
  margin-left: 0;
}

.section-secondary h1 {
  font-size: 64px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px #333;
  animation: zoomIn 1s forwards;
}

.section-secondary h2 {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  align-items: flex-start;
  text-shadow: 2px 2px #333;
  margin-bottom: 0;
  animation: zoomIn 1s forwards;
}

.section-secondary div {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.section-secondary div img {
  width: 64px;
  margin-right: 32px;
}

.section-secondary p {
  font-size: 24px;
  color: #fff;
  text-align: justify;
  align-items: flex-start;
  text-shadow: 2px 2px #333;
  animation: zoomIn 1s forwards;
}

/* Flecha */

.arrow {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  text-align: center;
  animation: moveArrow 1s ease-in-out infinite;
}

.arrow img {
  width: 50px;
}

@keyframes moveArrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* Contacto */

.sidebar {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 32px;
  height: auto;
  background-color: #333;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 999;
}

.sidebar a {
  color: #fff;
  font-size: 0;
  margin: 10px 0;
  text-align: center;
  display: block;
}

.sidebar a img {
  width: 32px;
  height: 32px;
}

.sidebar a:hover {
  transform: scale(1.2);
}

/* Seccion de tarjetas */

.card-section {
  margin: 125px 0;
}

.cards {
  display: flex;
  justify-content: space-around;
}

.card-section h1 {
  font-size: 64px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px #333;
  animation: zoomIn 1s forwards;
}

.card-section a {
  text-decoration: none;
}

.card {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.card:hover {
  transform: translateY(-20px);
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.5);
}

.card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  z-index: -1;
}

.card:hover img {
  opacity: 0.32;
  z-index: 1;
}

.card a {
  display: block;
  position: relative;
  z-index: 2;
}

.card h2 {
  font-size: 24px;
  margin-top: 40px;
}

.card ul {
  margin-top: 30px;
  list-style: none;
  padding: 0;
}

.card li {
  margin-bottom: 10px;
  font-size: 18px;
}

.card p {
  margin-bottom: 10px;
  font-size: 18px;
}

/* Galeria de prompts */

.container {
  display: flex;
  justify-content: center;
  margin: 125px 0;
}

.container .box {
  flex: 1;
  max-width: 300px;
  padding: 20px;
  margin: 10px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.container h2 {
  color: #333;
}

.container p {
  color: #666;
  text-align: justify;
}

.container button {
  background-color: #00ff00;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.container button:hover {
  animation: none;
  transform: scale(1.1);
}

.container ol {
  margin-top: 10px;
  color: #999;
  text-align: justify;
}

/* Footer */

footer {
  background-color: #252525;
  padding: 20px;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  list-style: none;
}

.social-media li {
  margin: 0 20px;
}

.icon {
  width: 32px;
  height: 32px;
  transition: all 0.2s ease-in-out;
}

.icon:hover {
  transform: scale(1.2);
}

footer p {
  margin: 20px 0 0 0;
  font-size: 16px;
  color: #999;
}

.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #333;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease-in-out;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.scroll-top img {
  width: 32px;
  height: 32px;
}

.scroll-top:active {
  color: #00ff00;
}
