/* Estilos generales */
body {
  background-image: url("./content/images/wallpaper.gif"); /* Fondo de la web */
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif; /* Fuente de la web */
  margin: 0;
  padding-top: 50px;
}

/* Línea horizontal */
hr {
  border: none;
  border-top: 1px solid #00ff00;
  margin: 10px auto;
  width: 50%;
}

/* Cursor sin efecto de enlace */
#non-clickable {
  cursor: default;
}

/* Menú de navegación */
#menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 64px;
  padding: 0 20px;
  background-color: #252525;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribución equitativa de los elementos internos */
  z-index: 999; /* Apilamiento superior del resto de elementos */
}
#menu img {
  width: 64px;
  margin-right: 20px;
}
#menu ul {
  display: flex;
  list-style-type: none; /* Lista sin viñetas */
  margin: 0;
  padding: 0;
}
#menu li {
  margin: 0 20px;
}
#menu a {
  position: relative;
  color: #00ff00;
  text-decoration: none; /* Sin decoración de texto */
  font-size: 18px;
}
#menu li a:before {
  content: ""; /* Contenido vacío */
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px; /* Posicionado por debajo del elemento padre */
  left: 0;
  background-color: #00ff00;
  visibility: hidden; /* Oculta */
  transform: scaleX(0); /* Escala horizontal de 0% */
  transition: all 0.3s ease-in-out 0s; /* Animación durante 0.3 segundos */
}
#menu li a:hover:before {
  visibility: visible;
  transform: scaleX(1); /* Escala horizontal al 100% */
}
/* Botón de cv */
#menu li.cv a {
  padding: 8px 16px;
  font-weight: bold;
  background-color: #00ff00;
  color: #252525;
}

/* Sección primaria */
.primary-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  padding: 125px 15%;
}
.primary-section h1, .primary-section h2 {
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 2px #333;
}
.primary-section h1 {
  font-size: 64px;
}
.primary-section h2 {
  font-size: 48px;
}
.primary-section div, .primary-section .image-div {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.primary-section div img {
  width: 64px;
  margin-right: 32px;
}
.primary-section p {
  color: #fff;
  font-size: 24px;
  text-align: justify;
  text-shadow: 2px 2px #333;
}
#primary-section-image {
  float: right;
  margin-left: 64px;
  width: 408px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease; /* Animación de la imagen */
}
#primary-section-image:hover {
  transform: scale(1.2); /* Escala de la imagen */
}

/* Sección secundaria */
.secondary-section {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #252525;
  padding: 50px 15%;
}
.secondary-section hr {
  margin-left: 0;
}
.secondary-section h1 {
  font-size: 64px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px #333;
}
.secondary-section h2 {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  align-self: flex-start;
  margin-bottom: 0;
  text-shadow: 2px 2px #333;
}
.secondary-section div {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.secondary-section div img {
  width: 64px;
  margin-right: 32px;
}
.secondary-section p {
  font-size: 24px;
  color: #fff;
  text-align: justify;
  align-self: flex-start;
  text-shadow: 2px 2px #333;
}

/* Flecha */
.arrow {
  position: relative;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
  animation: moveArrow 1s ease-in-out infinite; /* Animación de la flecha */
}
.arrow img {
  width: 50px;
}
@keyframes moveArrow {
  0%, 100% {
    transform: translateY(0); /* Posición vertical del inicio y fin de la animación */
  }
  50% {
    transform: translateY(10px); /* Desplazamiento vertical del punto medio de la animación */
  }
}

/* Contacto */
.sidebar {
  position: fixed;
  top: 50%; /* Centrar en la mitad superior de la ventana */
  left: 0;
  transform: translateY(-50%);
  width: 32px;
  height: auto; /* Altura automática según su contenido */
  background-color: #333;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 999; /* Apilamiento superior del resto de elementos */
}
.sidebar a {
  display: block;
  font-size: 0;
  color: #fff;
  margin: 10px 0;
  text-align: center;
}
.sidebar .icon {
  width: 32px;
  transition: transform 0.2s ease-in-out; /* Animación del icono */
}
.sidebar .icon:hover {
  transform: scale(1.2); /* Escala el icono al hacer hover */
}

/* Cajas dinámicas */
.dynamic-boxes {
  margin: 125px 0;
}
.dynamic-boxes h1 {
  font-size: 64px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px #333;
}
.dynamic-boxes a {
  text-decoration: none; /* Sin decoración de texto */
}
.dynamic-boxes .boxes {
  display: flex;
  justify-content: space-around;
}
.dynamic-boxes .box {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer; /* Cambia el cursor al hacer hover */
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.dynamic-boxes .box:hover {
  transform: translateY(-20px); /* Desplazamiento vertical al hacer hover */
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.5);
}
.dynamic-boxes .box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajuste de la imagen para cubrir la caja */
  opacity: 0; /* Opacidad inicial de la imagen */
  transition: opacity 0.5s ease-in-out; /* Animación para la opacidad de la imagen */
  z-index: -1; /* Apilamiento inferior del resto de elementos */
}
.dynamic-boxes .box:hover img {
  opacity: 0.32; /* Opacidad de la imagen al hacer hover */
  z-index: 1; /* Apilamiento superior del resto de elementos */
}
.dynamic-boxes .box a {
  display: block;
  position: relative;
  z-index: 2; /* Apilamiento superior del resto de elementos */
}
.dynamic-boxes .box h2 {
  font-size: 24px;
  margin-top: 24px;
  text-shadow: 2px 2px #333;
}
.dynamic-boxes .box ul {
  margin-top: 30px;
  list-style: none; /* Sin estilo para la lista */
  padding: 0;
}
.dynamic-boxes .box li {
  margin-bottom: 10px;
  font-size: 18px;
}
.dynamic-boxes .box p {
  margin-bottom: 10px;
  font-size: 18px;
  text-shadow: 2px 2px #333;
}

/* Cajas estáticas */
.static-boxes {
  color: #fff;
  margin: 32px 32px;
  padding: 0 20px;
}
.static-boxes .boxes {
  display: flex;
  justify-content: space-around; /* Espacio uniforme alrededor de los elementos internos */
  text-align: justify;
}
.static-boxes h1 {
  font-size: 64px;
  font-weight: bold;
  margin-top: 125px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px #333;
}
.static-boxes .box {
  flex: 1; /* El elemento ocupará todo el espacio disponible dentro del contenedor */
  padding: 20px;
  margin: 20px;
  background-color: #333;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
}
.static-boxes h2 {
  font-size: 24px;
  margin-top: 24px;
  text-shadow: 2px 2px #333;
}
.static-boxes p {
  font-size: 18px;
  margin-bottom: 10px;
  text-shadow: 2px 2px #333;
}
.static-boxes button {
  background-color: #00ff00;
  font-size: 18px;
  color: #252525;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  padding: 8px 16px;
  margin: 8px 0;
  font-weight: bold;
  cursor: pointer; /* Cambia el cursor al hacer hover */
  border: none;
}
.static-boxes a {
  text-decoration: none;
  color: #252525;
}
.static-boxes ol {
  padding: 0 20px;
  font-size: 18px;
  margin: 16px;
  text-align: justify;
}
.static-boxes li {
  margin-bottom: 10px;
  font-size: 18px;
}

/* Pie de página */
footer {
  background-color: #252525;
  padding: 20px;
  text-align: center;
}
footer .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  padding-left: 0;
  list-style: none; /* Elimina los estilos de lista */
}
footer .social-media li {
  margin: 0 20px;
}
footer .icon {
  width: 32px;
  transition: transform 0.2s ease-in-out; /* Animación transform */
}
footer .icon:hover {
  transform: scale(1.2); /* Escala del icono al hacer hover */
}
footer p {
  margin: 20px 0 0 0;
  font-size: 16px;
  color: #999;
}

/* Botón de subir */
.scroll-top {
  position: fixed; /* Posición fija */
  bottom: 20px;
  right: 20px;
  z-index: 100; /* Apilamiento superior del resto de elementos */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #333;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  text-decoration: none; /* Sin decoración de texto */
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.scroll-top img {
  width: 32px;
  height: 32px;
}
.scroll-top:active {
  color: #00ff00;
}

/* Responsive */
@media (max-width: 932px) {
  /* Flecha */
  .arrow {
    padding-top: 20px;
  }
  /* Cajas dinámicas */
  .dynamic-boxes {
    margin: 20px 0;
  }
  .dynamic-boxes h1 {
    font-size: 32px;
  }
  .dynamic-boxes .boxes {
    flex-direction: column;
    align-items: center;
  }
  .dynamic-boxes .box {
    margin: 20px 0;
  }
  .dynamic-boxes .box h2 {
    font-size: 24px;
  }
  .dynamic-boxes .box li {
    font-size: 16px;
  }
  .dynamic-boxes .box p {
    font-size: 16px;
  }
  /* Cajas estáticas */
  .static-boxes {
    margin: 0 32px;
    padding: 0 20px;
  }
  .static-boxes h1 {
    font-size: 32px;
  }
  .static-boxes h2 {
    font-size: 24px;
  }
  .static-boxes p {
    font-size: 16px;
  }
  .static-boxes .boxes {
    flex-direction: column;
  }
  /* Pie de página */
  footer .social-media {
    flex-wrap: wrap;
    margin: 20px 0;
  }
  footer .social-media li {
    margin: 10px;
  }
}